@media (max-width: 768px) {
	.search-bar-container input {
		width: 53%;
	}
}

@media (max-width: 512px) {
	.search-bar-container input {
		width: 80%;
	}

	.fa-magnifying-glass {
		left: 14%;
	}

	.fa-camera {
		left: 83%;
	}

	.fa-microphone {
		right: 20%;
	}

	a,
	.exit-link i {
		visibility: hidden;
	}

	i,
	#mobile-menu a {
		visibility: visible;
	}
}
